/*
 * Directory Pages Shared Styles for FanArcs React
 * This file contains consolidated styles for all directory pages (Anime, Manga, Comics, TV, Video Games)
 */




/* Directory section */

/* probably use later just not being used right now :-) */


/*.view-more-container a {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius-base);
  background-color: var(--fanarc-primary-color);
  color: white;
  transition: all var(--transition-base);
  display: inline-block;
}

.view-more-container a:hover {
  background-color: var(--fanarc-secondary-color);
}

*/