/* Layout styles */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 3.5rem; /* Add padding to account for the bottom navigation bar */
}
